time-series/time-series_files/*
time-series/*.html
time-series/*.ipynb
time-series/*.rmarkdown
time-series/data/*
Regression/Regression_files/*
Regression/notebooks/R_files/*
Regression/notebooks/*.html
Regression/notebooks/*.ipynb
.venv
